body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav{
  background-color: pink;
  height: 80px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

nav p{
  font-size: 25px;
  color: white;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card{
  display: flex;
  margin-top: 40px;
  padding-bottom: 30px;
  border-bottom: 1px solid gray;
}

.card-image img{
  width: 200px;
  margin-left: 20px;
  margin-right: 20px;
}
